@model jim.Frontal.ViewModel.Usuarios.UserViewModel

<div>
    <h4>Usuario: @Model.UserName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
            @Html.ActionLink("Cambiar", "ChangeEmail", new { id = Model.Id })
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEndDateUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>

    </dl>

    <!--Roles-->
    <h4>Roles</h4>
    
        @foreach (var item in Model.AllRoles)
        {
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           name="UsuariosChequeados"
                           value="@item.Name"
                           @if (@Model.RolesUsuario.Contains(@item.Name)) { <text> checked </text> } /> @item.Name
                    </label>
                </div>
            }
    

</div>
<p>
    @Html.ActionLink("Cambiar password", "ChangePassword", new { id = Model.Id })<br/>
    @Html.ActionLink("Back to List", "Index") <br/>
   

</p>
